<div class="btn-group" role="group" aria-label="...">
  <%= link_to "All", fourup_index_path, class: "btn btn-default" %>
  <% [1,2,3].each do |week| %>
    <%= link_to "Week " + week.to_s, fourup_path(week), class: "btn btn-default" %>
  <% end %>
</div>

<% @four_ups.each do |four_up| %>
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Week <%= four_up['week'] %></h1>
        </div>
      </div>

      <div class="col-md-6">

        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Progress</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% four_up['progress'].each do |item| %>
                  <li><%= item %></li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-md-6">

        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Risks</h3>
          </div>
          <div class="panel-body">
            <h4>High Priority</h4>
            <ul>
              <% four_up['risks']['high'].each do |item| %>
                  <li><%= item %></li>
              <% end %>
            </ul>
            <h4>Medium Priority</h4>
            <ul>
              <% four_up['risks']['medium'].each do |item| %>
                  <li><%= item %></li>
              <% end %>
            </ul>
            <h4>Low Priority</h4>
            <ul>
              <% four_up['risks']['low'].each do |item| %>
                  <li><%= item %></li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-md-6">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Plans</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% four_up['plans'].each do |item| %>
                  <li><%= item %></li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-md-6">

        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Needs</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% four_up['needs'].each do |item| %>
                  <li><%= item %></li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>
    </div>

<% end %>
