<!DOCTYPE html>
<html>
<head>
  <title>Effortlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar brand: "BreadBot Team", brand_link: 'http://bbread.lol'  %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
